<h3 class="name">
  <code class="search">
    {{#api-class-link model=model forceLink=true}}
      {{highlightedName}}
    {{/api-class-link}}
  </code>
</h3>
<div class="meta">
  Defined in {{api-file-link model=model}}
</div>
