{{#if present}}
<p><h2>{{typeTitle}}</h2></p>
<ul class="index-list">
  {{#each classitems itemController="classitem_listing"}}
    <li {{bind-attr class=classes}}>
      <a {{bind-attr href=url}}>{{name}}</a>
    </li>
  {{/each}}
</ul>
{{/if}}
