<div class="pane" id="index">
  {{partial 'apiOptions'}}
  {{class-items-listing classitems=methods}}
  {{class-items-listing classitems=properties}}
  {{class-items-listing classitems=events}}
</div>
