<div id='api-options'>
  Show:
  <label>
    {{input type='checkbox' checked=showInherited}}
    Inherited
  </label>
  <label>
    {{input type='checkbox' checked=showProtected}}
    Protected
  </label>
  <label>
    {{input type='checkbox' checked=showPrivate}}
    Private
  </label>
  <label>
    {{input type='checkbox' checked=showDeprecated}}
    Deprecated
  </label>
</div>

